<footer>
  <nav class = "round">
    <ul>
      <li><%= link_to "Contact Us", 'contact_path' %></li>
      <li><%= link_to "Links", '#' %></li>
    </ul>
  </nav>
  <div>
  Copyright © Apex Studio.All rights reserved.
  </div>
</footer>
